openapi: 3.0.3
info:
  title: DSM Aula api
  description: API da disciplina lab web
  termsOfService: http://swagger.io/terms/
  contact:
    email: moises.souza6@fatec.sp.gov.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/license/LICENSE
  version: 1.0.0
externalDocs:
  url: http://swagger.io
  description: Additional Docs & Infos
servers:
  - url: https://fatecfranca.com.br/aula
  - url: https://fatecfranca-stage.com.br/aula
tags:
  - name: food
    description: Management food operations
    externalDocs:
      url: https://swagger.io
      description: Additional Infos

paths:
  /foods: 
    post:
      tags:
        - food
      summary: Create a new food
      description: Create a new food to menu
      operationId: food
      requestBody:
        description: Create a new food
        content:
          application/json:
            schema: 
              $ref: "#//components/schemas/food"
        required: true
      responses:
        '201':
          description: Food created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FoodResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    format: int32
                    example: 4001
                  description:
                    type: string
                    example: Invalid Request
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: payload
                        description:
                          type: string
                          example: Field values. promotional in body is missing
                        
                




components:
  schemas:
    Food:
      type: object
      properties: 
        name:
          type: string
          description: Name of food
          example: Coxinha do empresario
        type: 
          type: string
          description: Type of food
          example: COMIDA
          enum:
            - COMIDA
            - BEBIDA
            - SOBREMESA
        value: 
            type: object
            properties:
              promotional: 
                type: number
                format: decimal
                example: 12.99
                minimum: 0.00
                maximum: 999.99
              default:
                type: number
                format: decimal
                example: 15.00
              specifications:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      maxLength: 15
                      example: peso
                    value:
                      type: string
                      maxLength: 20
                      example: 10 kg
              vigency:
                type: object 
                description: Range date time to show food
                properties:
                  initial: 
                    type: string
                    format: date-time
                  final: 
                    type: string
                    format: date-time

    FoodResponse:   
      type: object
                properties: 
                  uuid:
                    type: string
                    format: uuid
                    description: UUID food created
                  name:
                    type: string
                    description: Name of food
                    example: Coxinha do empresario
                  type: 
                    type: string
                    description: Type of food
                    example: COMIDA
                    enum:
                      - COMIDA
                      - BEBIDA
                      - SOBREMESA
                  value: 
                    type: object
                    properties:
                      promotional: 
                        type: number
                        format: decimal
                        example: 12.99
                        minimum: 0.00
                        maximum: 999.99
                      default:
                        type: number
                        format: decimal
                        example: 15.00
                  specifications:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          maxLength: 15
                          example: peso
                        value:
                          type: string
                          maxLength: 20
                          example: 10 kg
                  vigency:
                    type: object 
                    description: Range date time to show food
                    properties:
                      initial: 
                        type: string
                        format: date-time
                      final: 
                        type: string
                        format: date-time  
